<!-- <h1>Exponential Backoff Timer Test:</h1>
  <div>current number: {{n}}</div>
  <div>Move the mouse to reset it</div> -->
  
<h1>Blog Posts</h1>

<ng-template #loading>
    Loading...
</ng-template>

<!-- if both, posts and  (exponentialBackoffTimer$$ | async | async) are undefined, 'Loading...' is displayed: -->
<div *ngIf="posts != (exponentialBackoffTimer$ | async ); else loading"></div>

<ul>
  <li *ngFor="let post of posts" [innerHTML]="post.title" (click)="selectedPost = post"> 
  </li>
</ul>

<div *ngIf="selectedPost">
  <h1 [innerHTML]="selectedPost.title"></h1>
  <div [innerHTML]="selectedPost.content"></div>
</div>
